Flask
Flask-SQLAlchemy
Flask-Marshmallow
Flask-Mail
Flask-WTF
pandas
ydata-profiling
PyMySQL
gunicorn
psycopg2
marshmallow-sqlalchemy
Flask-Migrate
pymysql
mysqlclient
Flask-Principal
Flask-Login
flask-migrate
reportlab